{% extends 'base.html.twig' %}
{#
    Como este código está comentado, o título padrão 
    do bloco title será usado:
    {% block title %}Título Específico{% endblock %}
#}

{% block title %}{{ series is defined ? 'Editar' : 'Nova' }} Série{% endblock %}

{% block body %}
    <form method="post" action="{{ series is defined ? path('app_store_series_changes', { series: series.id }) : path('app_add_series') }}">
        <div class="mb-3">
            <label class="form-label" for="name">Nome da série</label>
            <input class="form-control" type="text" name="name" id="name" value="{{ series is defined ? series.name : '' }}">
        </div>

        {% if series is defined %}
            <input type="hidden" name="_method" value="PATCH">
        {% endif %}

        <button class="btn btn-dark">
            {{ series is defined ? 'Editar' : 'Adicionar' }}
        </button>
    </form>
{% endblock %}
