{% extends 'base.html.twig' %}

{% block title %}Listagem de Séries{% endblock %}

{% block body %}
    <a class="btn btn-dark mb-3" href="{{ path('app_series_form') }}">Adicionar</a>
    <ul class="list-group">
        {% for series in seriesList %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ series.name }}
                <form action="" method="post">
                    <button class="btn btn-sm btn-danger">
                        X
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
