{% extends 'base.html.twig' %}

{% block title %}Listagem de Séries{% endblock %}

{% block body %}
    <a class="btn btn-dark mb-3" href="/series/create">Adicionar</a>
    <ul class="list-group">
        {% for series in seriesList %}
        <li class="list-group-item">{{ series.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
